@model IEnumerable<CommonLayer.Models.DoctorModel>

@{
    ViewData["Title"] = "GetAllDocProfile";
}

<div class="main">
    <h1>GetAllDocProfile</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
   
    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-3">

            <div class="card">
                <a href="@Url.Action("GetDoctorByDocID", "Doctor", new { DoctorID = item.DoctorID })">
                <div class="card-header">
                    <h3>@item.DoctorImage</h3>
                </div>
                <div class="card-body">
                    <p>@item.Qualification</p>
                    <p>@item.Experience</p>
                    <p>@item.Gender</p>
                </div>
            </div>
        </div>
      
    }
    </div>
    @*</tbody>
        </table>*@
